/* media-query
  watch-max-width: 20em;
  mobile-min-width: 20em;
  mobile-max-width: 30em;
  tablet-min-width: 30em;
  tablet-max-width: 75em;
  pc-min-width: 75em;
*/

:root {
  --header-height: 5.6rem;
  --player-height: 9rem;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
app-list {
  flex-grow: 1;
  overflow: auto;
}
app-player {
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  height: var(--player-height);
}
app-modal {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
}
app-toast {
  z-index: 10;
  position: fixed;
  left: 1.6rem;
  top: 1.6rem;
}
app-splash {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 20em) and (max-width: 30em) {
}
