html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", "Microsoft YaHei", "Wenquanyi Micro Hei",
    "WenQuanYi Zen Hei", helvetica, sans-serif;
  font-weight: lighter;
  cursor: default;
  user-select: none;
}
