@import "theme.css";

/* media-query
  watch-max-width: 20em;
  mobile-min-width: 20em;
  mobile-max-width: 30em;
  tablet-min-width: 30em;
  tablet-max-width: 75em;
  pc-min-width: 75em;
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

[hidden] {
  display: none;
}
