:root {
  --header-height: 5.6rem;

  /* 如启动画面的背景颜色，组件为渲染时的背景颜色 */
  --background-color: white;
  --theme-color: #18d150;

  --list-background-color: #263238;
  --list-background-light-color: #34434a;
  --list-hover-background-color: #0002;
  --list-text-primary-color: #fff;
  --list-text-secondary-color: #707070;

  --notfound-background-color: #263238;
  --notfound-text-primary-color: #fff;
  --notfound-text-secondary-color: #707070;

  --player-height: 9rem;
  --player-background-color: #202b27;
  --player-separator-color: black;
  --player-text-primary-color: #fff;
  --player-text-secondary-color: #707070;
  --player-cover-box-shadow: 0px 1px 3px #0007;

  --toast-background-color: black;
  --toast-text-color: #fff;

  --menu-background-color: #20272b;
  --menu-hover-background-color: #263238;
  --menu-text-color: #c3c3c3;
  --menu-hover-text-color: #fff;
  --menu-box-shadow: 0px 3px 6px #0007;

  --modal-margin: 2.4rem;
  --modal-background-color: #fff;
  --modal-text-primary-color: #000;
  --modal-text-secondary-color: #707070;
  --modal-box-shadow: 0px 9px 13px #0007;

  --form-background-color: #fff;
  --form-hover-background-color: #0001;
  --form-text-primary-color: #000;
  --form-text-secondary-color: #707070;
  --form-text-disabled-color: #c3c3c3;
}

@media (min-width: 20em) and (max-width: 30em) {
}
